In [58]:
import pandas as pd 
#import pandas_alive
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
from summarytools import dfSummary

ETL Extracción, transformación y carga de los datos.

lectura de los datasets.

In [2]:
homicidios_hecho = pd.read_excel("Datasets/homicidios.xlsx", sheet_name="HECHOS")
homicidios_victima = pd.read_excel("Datasets/homicidios.xlsx", sheet_name="VICTIMAS")
comuna = pd.read_excel("Datasets/comunas.xlsx")

Vamos a trabajar con lo datos de homicidios, especificamente  en la tabla de hechos.

In [3]:
print(homicidios_hecho.info())
homicidios_hecho.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB
None

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Vamos a proceder a estudiar  lo valores nulos  de este dataset.

In [3]:
valores =homicidios_hecho.isnull().sum()
print(valores)

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

Podemos observar  que lo valores nulos están concentrados en las columnas  calle, Altura y Cruce. Vamos a proceder hacer un estudio de manera detallada.

In [5]:
selected_Estudio = homicidios_hecho[['Altura', 'Calle', 'Dirección Normalizada', 'Cruce']]

In [6]:
selected_Estudio.head()

,Altura,Calle,Dirección Normalizada,Cruce
0,NaN,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...","FERNANDEZ DE LA CRUZ, F., GRAL. AV."
1,NaN,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",DE LOS CORRALES AV.
2,2034.0,ENTRE RIOS AV.,ENTRE RIOS AV. 2034,NaN
3,NaN,LARRAZABAL AV.,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.","VILLEGAS, CONRADO, GRAL."
4,NaN,SAN JUAN AV.,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.","SAENZ PE?A, LUIS, PRES."

In [7]:
selected_Estudio.isnull()

     Altura  Calle  Dirección Normalizada  Cruce
0      True  False                  False  False
1      True  False                  False  False
2     False  False                  False   True
3      True  False                  False  False
4      True  False                  False  False
..      ...    ...                    ...    ...
691    True  False                  False  False
692    True  False                  False  False
693    True  False                  False  False
694   False  False                  False   True
695   False  False                  False   True

[696 rows x 4 columns]

Al estudiar el  dataset, podemos tomar las siguientes desiciones en cuanto a los valores nulos:
- Para el caso de la columna **calle** tenemos un solo dato nulo.
- La columna **dirección Normalizada** contiene 8 nulos.
- La columna **Cruce** no enontramos con 171 valores nulos, esto equivale a 24.56% de los datos de la columna.
- Para la columna altura tiene un total de 567 nulos, esto representa el 81,5% de datos de la columna.

Con respecto a la culumna **Calle**  , la dejaremos sin nungun tipo de modificación, la columna **dirección normalizada** no tiene alternativa de poder completarse con las columnas del dataset, solo contiene el 1.1% de nulos por lo que la conservaremos. 
La columna **cruce** solo va ha  tener datos cuando el hecho se produce en un cruce de calles, por tal motivo la  vamos  a conservar.

Al observar  la columna altura prodedemos a eliminarla, debido a la gran cantidad de valores faltantes, en este sentido no hay posibilidad de rellenar columna.

In [8]:
homicidios_hecho= homicidios_hecho.drop("Altura", axis=1)
homicidios_hecho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Cruce                  525 non-null    object
 12  Dirección Normalizada  688 non-null    object
 13  COMUNA                 696 non-null    int64
 14  XY (CABA)              696 non-null    object
 15  pos x                  696 non-null    object
 16  pos y                  696 non-null    object
 17  PARTICIPANTES          696 non-null    object
 18  VICTIMA                696 non-null    object
 19  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), int64(5), object(14)
memory usage: 108.9+ KB

Vamos a estudiar los valores duplicados.

In [9]:
duplicados= homicidios_hecho.duplicated().sum()
print(duplicados)

0

Observamos que no tenemos duplicados.

vamos a transformar los valores de la columna HH a tipo numérico, ya que estan tipo object.

In [10]:
# Cambio el dato horas  a tipo de dato numerico y luego a entero 
homicidios_hecho["HH"] = pd.to_numeric(homicidios_hecho ["HH"], errors="coerce")
homicidios_hecho["HH"] = homicidios_hecho["HH"].astype("Int64")

Las coordenadas X y Y debemos  transformar el tipo de dato ya que  estan en tipo Objeto.  estan deben para a tipo float(), tambien debemos revisar que  posicionen no son válidas.

In [11]:
# Filtrar filas con posiciones no válidas
valid_positions = ~(homicidios_hecho['pos x'].str.contains('[^0-9.,-]') | homicidios_hecho['pos y'].str.contains('[^0-9.,-]') )

In [12]:
# Establecer posiciones no válidas en NaN
homicidios_hecho.loc[~valid_positions, ['pos x', 'pos y']] = np.nan

In [13]:
homicidios_hecho['pos y'] = pd.to_numeric(homicidios_hecho['pos y'].str.replace(',', '.'), errors='coerce')

Aca transformamos los valores de latitud y  longitud a tipo float.

In [14]:
homicidios_hecho['pos x'] = pd.to_numeric(homicidios_hecho['pos x'].astype(str).str.replace(',', '.'), errors='coerce').astype(float)
homicidios_hecho['pos y'] = pd.to_numeric(homicidios_hecho['pos y'].astype(str).str.replace(',', '.'), errors='coerce').astype(float)

In [15]:
homicidios_hecho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     695 non-null    Int64
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Cruce                  525 non-null    object
 12  Dirección Normalizada  688 non-null    object
 13  COMUNA                 696 non-null    int64
 14  XY (CABA)              696 non-null    object
 15  pos x                  684 non-null    float64
 16  pos y                  684 non-null    float64
 17  PARTICIPANTES          696 non-null    object
 18  VICTIMA                696 non-null    object
 19  ACUSADO                696 non-null    object
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(5), object(11)
memory usage: 109.6+ KB

Creamos una columna llamada semestre, esto con el fin de trabajar los KPI.

In [19]:

homicidios_hecho['semestre'] = [1 if month <= 6 else 2 for month in homicidios_hecho['FECHA'].dt.month]

In [20]:
homicidios_hecho.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO,semestre
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO,1
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS,1
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO,1

Vamos ha revisar el dataset que hemos traido de la pagina https://data.buenosaires.gob.ar/dataset/comunas donde se especifica el nombre de cada una de las comunas. esto con la finalidad de darle valor agregado al dataset, con esta información el dataset tendra información  de la descripción de cada una de las comunas con los barrios que la conforman.

In [21]:
comuna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         15 non-null     int64
 1   OBJETO     15 non-null     object
 2   COMUNAS    15 non-null     int64
 3   BARRIOS    15 non-null     object
 4   PERIMETRO  15 non-null     float64
 5   AREA       15 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 852.0+ bytes

In [22]:
comuna.head()

,ID,OBJETO,COMUNAS,BARRIOS,PERIMETRO,AREA
0,1,LIMITE COMUNAL,2,RECOLETA,21452.838648,6.317265e+06
1,2,LIMITE COMUNAL,5,ALMAGRO - BOEDO,12323.432479,6.660603e+06
2,3,LIMITE COMUNAL,6,CABALLITO,10990.964471,6.851029e+06
3,4,LIMITE COMUNAL,7,FLORES - PARQUE CHACABUCO,17972.257870,1.242290e+07
4,5,LIMITE COMUNAL,9,LINIERS - MATADEROS - PARQUE AVELLANEDA,21411.738344,1.650531e+07

In [23]:
print(homicidios_hecho.columns)

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO', 'semestre'],
      dtype='object')

Debemos renombrar el nombre de la columna COMUNA a COMUNAS  para poder realizar el merge.

In [24]:
homicidios_hecho=homicidios_hecho.rename(columns={
    "COMUNA": "COMUNAS"
})

In [25]:
print(homicidios_hecho.columns)

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Cruce',
       'Dirección Normalizada', 'COMUNAS', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO', 'semestre'],
      dtype='object')

In [26]:

homicidios_hecho = homicidios_hecho.merge(comuna, on="COMUNAS", how="left")

Vamos a crear una nueva columna con el nombre del  dia de la semana que corresponde el siniestro, con esto podremos  ver como  es el comportamiento de  los siniestros por cada dia, podriamos estudiar los fines de semana en conjunto tambien y comparar con los dias de semana.

In [27]:
#Creo una columna nueva `Día semana` que contenga el nombre del día de la semana
homicidios_hecho['DIA SEMANA'] = homicidios_hecho['FECHA'].dt.strftime('%A')

#Creo un diccionario para modificar a español los nombres de los dás de la semana y lo aplico a la columna nueva
dic={  'Friday':'Viernes',
       'Saturday': 'Sabado',
       'Sunday': 'Domingo',  
       'Thursday': 'Jueves',
        'Monday': 'Lunes',
        'Wednesday': 'Miercoles',
       'Tuesday': 'Martes'}
homicidios_hecho['DIA SEMANA'] =homicidios_hecho['DIA SEMANA'].replace(dic)

In [28]:
homicidios_hecho.head()

,ID_x,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,PARTICIPANTES,VICTIMA,ACUSADO,semestre,ID_y,OBJETO,BARRIOS,PERIMETRO,AREA,DIA SEMANA
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,MOTO-AUTO,MOTO,AUTO,1,12.0,LIMITE COMUNAL,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,20935.012513,2.221690e+07,Viernes
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,AUTO-PASAJEROS,AUTO,PASAJEROS,1,5.0,LIMITE COMUNAL,LINIERS - MATADEROS - PARQUE AVELLANEDA,21411.738344,1.650531e+07,Sabado
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,MOTO-AUTO,MOTO,AUTO,1,14.0,LIMITE COMUNAL,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,36102.201573,1.779457e+07,Domingo
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,MOTO-SD,MOTO,SD,1,12.0,LIMITE COMUNAL,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,20935.012513,2.221690e+07,Domingo
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,MOTO-PASAJEROS,MOTO,PASAJEROS,1,14.0,LIMITE COMUNAL,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,36102.201573,1.779457e+07,Jueves

In [29]:
dfSummary(homicidios_hecho)

Vamos a trabajar con los datos de Homicidio- Victimas.

In [30]:

print(homicidios_victima.info())
homicidios_victima.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB
None

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
5,2016-0008,2016-01-24,2016,1,24,CONDUCTOR,MOTO,MASCULINO,30,2016-01-24 00:00:00
6,2016-0009,2016-01-24,2016,1,24,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,29,2016-01-26 00:00:00
7,2016-0010,2016-01-29,2016,1,29,CONDUCTOR,MOTO,MASCULINO,18,2016-01-29 00:00:00
8,2016-0012,2016-02-08,2016,2,8,CONDUCTOR,MOTO,MASCULINO,22,2016-02-08 00:00:00
9,2016-0013,2016-02-10,2016,2,10,PEATON,PEATON,MASCULINO,16,2016-02-10 00:00:00

Podemos observar que la fecha de fallecimiento  esta en formato object, debemos cambiarla a formato date.  tambien pudimo observar que hay datos faltantes en la columna en estudio, por tal motivo tomamos la desición de colocar la fecha de fallecimiento la misma fecha del sinietro, dando como conclusión que la victima falleció en el acto

In [31]:
homicidios_victima["FECHA_FALLECIMIENTO"] = pd.to_datetime(homicidios_victima["FECHA_FALLECIMIENTO"], errors='coerce')
homicidios_victima["FECHA_FALLECIMIENTO"].fillna(homicidios_victima["FECHA"], inplace=True)

In [32]:
homicidios_victima.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,2016-01-10
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01

In [33]:
homicidios_victima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(5)
memory usage: 56.1+ KB

Vamos a trabajar con la  EDAD ya que tiene formato ipo object. esta debe ser de tipo numerico.

In [34]:
#Cambio la columna edad a numerico y luego a tipo entero
homicidios_victima["EDAD"] = pd.to_numeric(homicidios_victima["EDAD"], errors="coerce")
homicidios_victima["EDAD"] = homicidios_victima["EDAD"].astype("Int64")

Dado que no son tanto valores faltantes  en la edad de las personas. Por tal motivo  vamos a reemplazar por la media a estos valores.

In [35]:
median_value = homicidios_victima["EDAD"].median()

# Replace missing values in "EDAD" column with the median value
homicidios_victima["EDAD"].fillna(median_value, inplace=True)

In [36]:
homicidios_victima ["EDAD"].unique()

<IntegerArray>
[19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20, 54, 37,
 56, 24, 78, 79, 26, 57, 58, 23, 60, 42, 53, 51, 40, 87, 76, 75, 35, 80, 43,
 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39, 28,  7, 48,  4, 82, 32, 17, 47,
 61, 10, 95, 73, 84, 66, 85,  1, 15, 13, 77, 44, 31, 62, 74, 71, 11, 86, 69,
 72, 12, 63, 92, 68, 91, 64,  5, 88]
Length: 85, dtype: Int64

Veamos los valores nulos del dataset.

In [37]:
homicidios_victima.isnull().sum()

ID_hecho               0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

Podemos observar que no tenemos valores nulos.

Vamos a crear una columna de rangos para estudiar su comportamiento por la edad segmentada, es decir,  menos de 20 años, entre 21 y 40 años, entre 41 y 60 años, entre 61 y 80 años y mas de 80 años. con esto podremos hacer analisis  mas exhaustivos.

In [38]:
# Definir los límites de los rangos etarios y las etiquetas
rango = [0, 20, 40, 60, 80, 100]
etiquetas = ['Menos de 20', ' Entre 21- 40', 'Entre 41-60', 'Entre 61-80', 'Más de 80']

# Utilizar pd.cut() para crear la columna de rango etario
homicidios_victima['RANGO_EDAD'] = pd.cut(homicidios_victima['EDAD'], bins=rango , labels=etiquetas, right=False)

In [39]:
homicidios_victima.head(3)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,RANGO_EDAD
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01,Menos de 20
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02,Entre 61-80
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03,Entre 21- 40

Vamos a eliminar las columnas que se repiten en el dataset de homicidios_hecho que son: FECHA, AÑO, MES, DIA Y VICTIMA.

In [40]:
# Se eliminan las columnas repetidas
homicidios_victima = homicidios_victima.drop(['FECHA', 'AAAA', 'MM', 'DD', 'VICTIMA'], axis=1)
homicidios_victima.columns

Index(['ID_hecho', 'ROL', 'SEXO', 'EDAD', 'FECHA_FALLECIMIENTO', 'RANGO_EDAD'], dtype='object')

Veamos ahora un resumen descriptivo de los datos:

In [41]:
dfSummary(homicidios_victima)

    UNIFICACION DE LOS DATASET.  Vamos hacer un solo dataset consolidado,  esto con el fin de trabajar mucho mejor.
    para esto vamos a seguir los siguientes pasos: 
    - debemos  tener el mismo nombre la columna para hacer el merge. en este caso es con el ID.

In [42]:
homicidios_victima.rename(columns={'ID_hecho': 'ID'}, inplace=True)
homicidios_hecho.rename(columns={'ID_x': 'ID'}, inplace=True)

In [44]:
siniestros= homicidios_victima.merge(homicidios_hecho, on="ID", how="left")
siniestros.columns

Index(['ID', 'ROL', 'SEXO', 'EDAD', 'FECHA_FALLECIMIENTO', 'RANGO_EDAD',
       'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Cruce',
       'Dirección Normalizada', 'COMUNAS', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO', 'semestre', 'ID_y', 'OBJETO',
       'BARRIOS', 'PERIMETRO', 'AREA', 'DIA SEMANA'],
      dtype='object')

In [45]:
siniestros.head(3)

,ID,ROL,SEXO,EDAD,FECHA_FALLECIMIENTO,RANGO_EDAD,N_VICTIMAS,FECHA,AAAA,MM,...,PARTICIPANTES,VICTIMA,ACUSADO,semestre,ID_y,OBJETO,BARRIOS,PERIMETRO,AREA,DIA SEMANA
0,2016-0001,CONDUCTOR,MASCULINO,19,2016-01-01,Menos de 20,1,2016-01-01,2016,1,...,MOTO-AUTO,MOTO,AUTO,1,12.0,LIMITE COMUNAL,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,20935.012513,2.221690e+07,Viernes
1,2016-0002,CONDUCTOR,MASCULINO,70,2016-01-02,Entre 61-80,1,2016-01-02,2016,1,...,AUTO-PASAJEROS,AUTO,PASAJEROS,1,5.0,LIMITE COMUNAL,LINIERS - MATADEROS - PARQUE AVELLANEDA,21411.738344,1.650531e+07,Sabado
2,2016-0003,CONDUCTOR,MASCULINO,30,2016-01-03,Entre 21- 40,1,2016-01-03,2016,1,...,MOTO-AUTO,MOTO,AUTO,1,14.0,LIMITE COMUNAL,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,36102.201573,1.779457e+07,Domingo

In [46]:
siniestros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     717 non-null    object
 1   ROL                    717 non-null    object
 2   SEXO                   717 non-null    object
 3   EDAD                   717 non-null    Int64
 4   FECHA_FALLECIMIENTO    717 non-null    datetime64[ns]
 5   RANGO_EDAD             717 non-null    category
 6   N_VICTIMAS             717 non-null    int64
 7   FECHA                  717 non-null    datetime64[ns]
 8   AAAA                   717 non-null    int64
 9   MM                     717 non-null    int64
 10  DD                     717 non-null    int64
 11  HORA                   717 non-null    object
 12  HH                     716 non-null    Int64
 13  LUGAR_DEL_HECHO        717 non-null    object
 14  TIPO_DE_CALLE          717 non-null    object
 15  Calle                  716 non-null    object
 16  Cruce                  540 non-null    object
 17  Dirección Normalizada  708 non-null    object
 18  COMUNAS                717 non-null    int64
 19  XY (CABA)              717 non-null    object
 20  pos x                  704 non-null    float64
 21  pos y                  704 non-null    float64
 22  PARTICIPANTES          717 non-null    object
 23  VICTIMA                717 non-null    object
 24  ACUSADO                717 non-null    object
 25  semestre               717 non-null    int64
 26  ID_y                   715 non-null    float64
 27  OBJETO                 715 non-null    object
 28  BARRIOS                715 non-null    object
 29  PERIMETRO              715 non-null    float64
 30  AREA                   715 non-null    float64
 31  DIA SEMANA             717 non-null    object
dtypes: Int64(2), category(1), datetime64[ns](2), float64(5), int64(6), object(16)
memory usage: 176.1+ KB

Revision de dato de manera General

In [47]:
siniestros["N_VICTIMAS"].unique()

array([1, 2, 3], dtype=int64)

In [48]:
siniestros["AAAA"].unique()

array([2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [49]:
siniestros["MM"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [50]:
siniestros.describe()

,EDAD,FECHA_FALLECIMIENTO,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,COMUNAS,pos x,pos y,semestre,ID_y,PERIMETRO,AREA
count,717.0,717,717.000000,717,717.000000,717.000000,717.000000,716.0,717.000000,704.000000,704.000000,717.000000,715.000000,715.000000,7.150000e+02
mean,41.785216,2018-09-10 05:15:18.828452096,1.061367,2018-09-09 01:24:21.087866112,2018.174338,6.688982,15.953975,11.554469,7.430962,-58.441664,-34.619700,1.516039,9.093706,22882.611994,1.522497e+07
min,1.0,2016-01-01 00:00:00,1.000000,2016-01-01 00:00:00,2016.000000,1.000000,1.000000,0.0,0.000000,-58.529942,-34.705250,1.000000,1.000000,10486.260809,6.317265e+06
25%,28.0,2017-04-01 00:00:00,1.000000,2017-04-01 00:00:00,2017.000000,4.000000,9.000000,6.0,4.000000,-58.476556,-34.643918,1.000000,5.000000,17972.257870,1.265656e+07
50%,37.0,2018-07-07 00:00:00,1.000000,2018-07-07 00:00:00,2018.000000,7.000000,16.000000,11.0,8.000000,-58.444513,-34.622866,2.000000,10.000000,20935.012513,1.557093e+07
75%,55.0,2019-12-18 00:00:00,1.000000,2019-12-18 00:00:00,2019.000000,10.000000,23.000000,17.0,11.000000,-58.401841,-34.597013,2.000000,13.000000,26198.826953,1.779457e+07
max,95.0,2022-01-03 00:00:00,3.000000,2021-12-30 00:00:00,2021.000000,12.000000,31.000000,23.0,15.000000,-58.356082,-34.534654,2.000000,15.000000,36102.201573,2.221690e+07
std,19.089576,NaN,0.257024,NaN,1.672655,3.575140,8.674876,6.700055,4.385067,0.046397,0.035292,0.500092,4.186266,8115.367993,4.855595e+06

In [51]:
dfSummary(siniestros)

Con esto se consolida el archivo siniestro.csv para poder trabajar el EDA

In [ ]:
siniestros.to_csv("Datasets/siniestro.csv",index=False)

Aca nos queda el archivo limpio para Iniciar los trabajos de EDA.

In [52]:
siniestros.to_csv("Datasets/siniestro.csv",index=False)